form{
  & > input[type = text]{
      padding: 0px 10px 5px;
      font-size: 14pt;
      font-weight: 500;
      color: $dark;
      border: none;
      width: 100%;
      text-align: left;
      margin-top: 10px;
      text-indent: 5px;
      border-bottom: 1.5px solid $light-grey;
      @include mobile {
          font-size: 16pt;
      }
      &::placeholder{
        font-size: 13pt;
        color: $grey;
      }
  }

}

.Information{
  position: relative;
  display: block;
  min-height: 200px;
  height: auto;
  margin-top: 40px;
  &__wrapper{
    position: relative;
    height: 100%;
    margin-left: 10px;
    @include mobile {
      margin-left: 0px;
    }
  }
  &__game__image{
    position: relative;
    display: inline-block;
    height: 200px;
    background: $light-grey;
    border-radius: $border-radius-large;
    max-width: 600px;
    width: 100%;
    margin-right: 100px;
    @include mobile {
      margin-right: 0;
    }
  }
  form{
    position: relative;
    display: inline-block;
    margin: auto;
    max-width: 800px;
    position: relative;
    height: 100%;
    vertical-align: top;
    width: 100%;
    // top: 0;
    & textarea{
      width: 100%;
      max-height: 100px
    }
  }
}

.Options{
  position: relative;
  display: block;
  &__inside__wrapper{
    position: relative;
    display: block;
    width: 100%;
    margin-left: 10px;
    margin-top: 30px;
    &__title{
      font-size: 18pt;
      font-weight: 700;
      margin-bottom: 5px;
      margin-left: 10px;
    }
    @include mobile {
      width: 100%;
      margin-left: 0px;
    }
  }
  &__side{
      position: relative;
      display: table-cell;
      &__left{
        border-right: 50px solid transparent;
        max-width: 45vw;
        @include mobile {
            max-width: 100%;
            border-right: unset;
        }
      }
      &__right{
        border-left: 50px solid transparent;
        width: 50%;
        input[type=submit]{
            cursor: pointer;
            display: block;
            width: 24%;
            padding: 15px;
            margin-top: 30px;
            font-size: 14pt;
            font-weight: 700;
            background: linear-gradient(to left, #7C6ACE, #9E63BF);
            border-radius: 3px;
            color: white;
            transition: .1s ease-in-out;
            border: none;
        }
        @include mobile {
            border-left: unset;
            width: 100%;
            margin-top: 30px;
        }
      }
      @include mobile {
        display: block;
        width: 100%;
      }
  }
  &__type__wrapper{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-top: 25px;
    @include mobile {
      width: 100%;
      margin-left: 0px;
    }
  }
  &__type{
    position: relative;
    display: inline-block;
    height: 120px;
    width: 300px;
    margin-right: 20px;
    background: $linear-gradient;
    border-radius: $border-radius-large;
    cursor: pointer;
    transition: .2s;
    opacity: 0.7;
    & > p{
        position: relative;
        top: 36%;
        font-size: 18pt;
        color: white;
        font-weight: 700;
        text-align: center;
    }
    &--active{
        opacity: 1;
    }
    &:hover{
      box-shadow: 0px 7px 50px 0px rgba(0,0,0,0.15);
      transform: translateY(-3px);
      opacity: 1;
    }
    @include mobile {
      width: 220px;
    }
  }
  &__class{
    position: relative;
    display: inline-block;
    background: $linear-gradient;
    height: 100px;
    width: 100px;
    border-radius: $border-radius-large;
    cursor: pointer;
    transition: .2s;
    margin-right: 15px;
    opacity: 0.7;
        & > p{
        position: relative;
        top: 36%;
        font-size: 18pt;
        color: white;
        font-weight: 700;
        text-align: center;
            @include mobile {
                top: 31%;
            }
        }
    &--active{
        opacity: 1;
    }
    &:hover{
      box-shadow: 0px 7px 50px 0px rgba(0,0,0,0.15);
      transform: translateY(-3px);
      opacity: 1;
    }
    @include mobile {
        height: 70px;
        width: 70px;
    }
  }
  &__game__type{
    position: relative;
    display: inline-block;
    background: $linear-gradient;
    height: 130px;
    width: 330px;
    border-radius: $border-radius-large;
    cursor: pointer;
    transition: .2s;
    margin-right: 15px;
    white-space: pre-wrap;  
    opacity: 0.7;
    & > p{
      position: relative;
      top: 36%;
      font-size: 18pt;
      color: white;
      font-weight: 700;
      text-align: center;
    }
    &--active{
        opacity: 1;
    }
    &:hover{
      box-shadow: 0px 7px 50px 0px rgba(0,0,0,0.15);
      transform: translateY(-3px);
      opacity: 1;
    }
    @include mobile {
      width: 220px;
      height: 100px;
    }
  }
  &__row{
    position: relative;
    display: block;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    & > :nth-child(2){
        text-align: right;
        @include mobile {
            text-align: left;
        }
    }
    &__title{
        position: relative;
        display: table-cell;
        font-size: 16pt;
        font-weight: 700;
        min-width: 24%;
        border-right: 50px solid transparent;
        @include mobile {
            display: block;
        }
    }
    &__input{
        position: relative;
        display: inline-block;
        min-width: 66%;
        display: table-cell;
        & > input{
            border: unset;
            border-bottom: 2px solid $light-grey;
            margin: 0px 10px;
            text-indent: 10px;
            text-align: center;
            font-size: 15pt;
            color: $dark;
            font-weight: 600;
            padding-bottom: 5px;
            &::placeholder{
                font-size: 13pt;
            }
            @include mobile {
                max-width: 40%;
            }
        }
        @include mobile {
            margin-top: 25px;
            display: block;
        }
    }
  }
}
.Inside__container__wrapper{
  overflow: unset;
}
.Games__scroller--indents[type=forward]{
  right: -15px;
  top: 55%;
  @include mobile {
    right: 0px;
  }
}
.Games__scroller--indents[type=backward]{
  left: -15px;
  top: 55%;
  @include mobile {
    left: 0px;
  }
}