.background {
  display: block;
  position: fixed;
  min-width: 100%; 
  min-height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: $linear-gradient;
  background: url(assets/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  @include lowscreen {
    width: 100%;
  }
}
.Game {
  display: block;
  position: relative;
  &-fullscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: z("top-layer");
    overflow: hidden;
  }
  .Categories {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    opacity: 1;
    &::before {
      content: 'Выберите категорию';
      display: block;
      position: relative;
      padding-bottom: 40px;
      color: white;
      font-size: 24pt;
      font-weight: 700;
      opacity: 0;
      transition: $fast;
      @include mobile {
        font-size: 16pt;
        padding-bottom: 20px;
      }
      @include lowscreen {
        font-size: 18pt;
        padding-bottom: 30px;
      }
    }
    &--animate {
      &::before {
        opacity: 1;
        animation: zoomInDown 1.5s both;
      }
    }
    &__unit {
      display: inline-block;
      position: relative;
      margin: 20px;
      padding: 8% 0;
      width: 100%;
      max-width: 250px;
      opacity: 0;
      text-align: center;
      background: white;
      color: $purple;
      font-size: 16pt;
      font-weight: 700;
      border-radius: $border-radius-average;
      transition: $average;
      cursor: pointer;
      &--animate {
        opacity: 1;
        animation: zoomInDown 1s both;
      }
      &:hover {
        max-width: 280px;
        padding: 8.5% 0;
        transition: $average;
        transition-timing-function: cubic-bezier(.31, .95, .46, 2);
      }
      @include lowscreen {
        font-size: 12pt;
        margin: 10px;
        max-width: 200px;
        &:hover {
          max-width: 230px;
          padding: 8.5% 0;
          transition: $average;
          transition-timing-function: cubic-bezier(.31, .95, .46, 2);
        }
      }
      @include mobile {
        display: block;
        padding: unset;
        width: unset;
        max-width: 100%;
        margin: 10px;
        font-size: 16pt;
        @for $i from 1 through 10 {
          &:first-child:nth-last-child(#{$i}),
          &:first-child:nth-last-child(#{$i}) ~ div {
            height: 75vh / $i;
            line-height: 75vh / $i;
          }
        }
        &:hover {
          max-width: 100%;
          padding: 0;
          transition: $average;
          transition-timing-function: cubic-bezier(.31, .95, .46, 2);
        }
      }
    }
  }
  .choosing {
    &__category {
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: -100%;
      background: white;
      text-align: center;
      line-height: 100vh;
      color: $purple;
      font-size: 20pt;
      font-weight: 900;
      z-index: z('supertop-layer');
      &--active {
        animation: easeInBounce 1s forwards;
      }
      @keyframes easeInBounce {
        0% { top: -100% }
        20% { top: 0 }
        44% { top: -20.98% }
        54% { top: 0 }
        62% { top: -6.25% }
        72% { top: 0 }
        84% { top: -1.54% }
        100% { top: 0% }
      }
    }
  }
}

.Question {
  display: table;
  // position: fixed;
  top: 0;
  table-layout: fixed;
  // width: 100vw;
  // height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  // overflow: hidden;
  z-index: z("main-layer");
  transition: $fast;
  animation: zoomInDown 1.5s both;
  &--fadeout {
    transition: $fast;
    animation: zoomOutDown .5s both;
  }
  // .Question__container
  &__container {
    display: table-row;
    position: relative;
    height: 1px;
  }
  // .Question__container > .Question__count
  &__count {
    display: block;
    margin: 10px auto;
    max-width: 20%;
    color: $light;
    font-size: 10pt;
    b {
      font-size: 14pt;
      color: white;
    }
    @include mobile {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  // .Question__container > .Question__progress
  &__progress {
    display: block;
    position: relative;
    margin: 10px auto;
    max-width: 20%;
    height: 5px;
    background: $light;
    border-radius: $border-radius-average;
    overflow: hidden;
    @include mobile {
      margin: 20px;
      max-width: 100%!important;
    }
    // & .Question__progress > .Question__progress__bar
    &__bar {
      display: block;
      position: relative;
      width: 50%;
      height: 100%;
      transition: $slow;
      background: $violet;
    }
  }
  // Question__container > .Question__image
  &__image {
    display: block;
    position: relative;
    width: 100%;

    &__container {
      display: block;
      position: relative;
      margin: 0 auto;
      max-width: 200px;
      max-height: 200px;
      min-height: 0;
      border-radius: $border-radius-overlarge;
      transition: $slow;
      transition-timing-function: cubic-bezier(.31, .95, .46, 1);
      overflow: hidden;
      cursor: pointer;
      @include lowscreen {
      }
      @include mobile {
        margin: 10px;
        border-radius: $border-radius-small;
        max-width: 100%;
        max-height: 150px;
      }
      &--fullscreen {
        max-width: 40vw;
        max-height: 40vh;
        transition: $slow;
        transition-timing-function: cubic-bezier(.31, .95, .46, 1);
      }
    }
  }
  // Question__container > .Question__title
  &__title {
    display: block;
    position: relative;
    padding: 10px 0;
    max-width: 50%;
    max-height: 400px;
    margin: 0 auto;
    font-size: 20pt;
    font-weight: 500;
    transition: $fast;
    overflow: auto;
    @include lowscreen {
      font-size: 14pt;
    }
    @include mobile {
      margin: 10px;
      padding: unset;
      max-width: 100%!important;
      max-height: 170px;
      overflow-y: scroll;
    }
    &::-webkit-scrollbar-track {
      background: transparent; 
    }
    &::-webkit-scrollbar-thumb {
      background: $white-40; 
    }
    .Question__container--large & {
      max-width: 80%;
      font-size: 14pt;
      @include lowscreen {
        font-size: 10pt;
      }
    }
    p {
      display: inline-block;
      padding: 2px 5px;
      margin: 3px 5px;
      background: $white-40;
      font-size: 14pt;
      font-weight: 700;
      border-radius: $border-radius-average;
      &:first-child {
        display: block;
        padding: 0;
        background: none;
        color: white;
        font-size: 14pt;
        font-weight: 700;
      }
      br {
        display: none;
      }
    }
    em {
      font-weight: 500;
    }
    strong {
      color: white;
      text-transform: uppercase;
      &::before {
        content: '#';
        display: inline-block;
        padding: 5px;
        // background: $purple;
        z-index: -1;
      }
    }
  }
  // .Question__list
  &__list {
    display: table-row;
    position: relative;
    width: 80%;
    height: 1px;
    text-align: center;
    @include mobile {
      width: 100%;
    }
    &--match {
      height: 50%;
    }
  }
  // .list > .Question__answer
  &__answer {
    display: inline-block;
    position: relative;
    max-width: 600px;
    padding: 3% 5%;
    margin: .5%;
    vertical-align: middle;
    text-align: left;
    font-weight: 700;
    font-size: 14pt;
    color: $dark;
    background: white;
    border-radius: $border-radius-large;
    user-select: none;
    touch-action: none;
    animation: jumpScaling .1s forwards;
    transition: all 0s, 
                margin $average, 
                padding $fast,
                color $average, 
                font-size $fast;
    cursor: grab;
    @include mobile {
      padding: 5% 10%;
      margin: 3%;
    }
    &::after {
      content: attr(data-attr);
      display: block;
      position: relative;
      top: 0;
      left: 0;
    }
    &::before {
      content: attr(data-attr-before);
      display: block;
      position: absolute;
      padding: 10px;
      top: 0;
      left: 0;
      font-size: 14pt;
      color: $purple;
      visibility: visible;
      z-index: 99;
      transition: $fast;      
    }
    &--empty-space {
      background: $dark-40;
      visibility: visible!important;
      color: white;
      transition: $fast;
      &::before {
        color: white;
        z-index: z("main-layer");
      }
    }
    &--matches {
      position: absolute;
      pointer-events: none;
    }
    &--hidden {
      visibility: hidden;
      transition: all 0s;
      cursor: default;
    }
    &--grabbing {
      position: fixed!important;
      padding: 3.5% 5.5%;
      margin: -1%;
      font-size: 18pt;
      color: white!important;
      background: $purple;
      box-shadow: 0 0 30px -20px $dark;
      pointer-events: none;
      z-index: z("supertop-layer");
      cursor: grabbing!important;
      transition: all 0s, 
                  padding $fast, 
                  margin $average, 
                  font-size $fast,
                  color $average,
                  background-color $fast,
                  z-index $average;
    }
    &--on-empty-space {
      &::before {
        transition: $fast;
        color: white!important;
      }
    }
    &--on-replace {
      background: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%)!important;
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y!important;
      background-size: 16px 2px, 16px 3px, 2px 16px, 3px 16px!important;
      background-position: 0 0, 0 100%, 0 0, 100% 0!important;
      animation: borderMoving 2s infinite forwards;
      transition: $fast;
      &::after {
        transition: $fast;
        color: white!important;
      }
    }
    &:hover {
      color: $violet;
    }
    p {
      display: inline-block;
    }
    // TEXT
    &-text {
      position: relative;
      width: 80%;
      height: 100%;
      max-height: 60px;
      padding: 15px;
      margin-top: 50px;
      vertical-align: middle;
      color: white;
      font-size: 10pt;
      font-weight: 500;
      border: none;
      border-radius: $border-radius-small;
      border: 1.5px solid white;
      outline: none;
      resize: none;
      background: $white-40;
      transition: $average;
      @include mobile {
        padding: 0;
        max-height: 150px;
      }
      &::placeholder {
        color: white;
      }
      &--sizable {
        max-height: 150px;
        &::-webkit-scrollbar-thumb {
          background: $purple;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &:hover {
          max-height: 170px;
          transition: $fast;
        }
        &:focus {
          background: white;
          color: $dark;
          transition: $average;
          &::placeholder {
            color: $dark;
          }
        }
      }
      &__container {
        display: table-row;
        position: relative;
        height: 50%;
        text-align: center;
      }
    }
  }
  // .Question__drag
  &__drag {
    display: block;
    position: relative;
    height: 90%;
    max-width: 80%;
    margin: 20px auto;
    background: $white-40;
    border-radius: $border-radius-average;
    border: 2px solid white;
    transition: all $fast, border 0s;
    @include lowscreen {
      height: 80%;
    }
    @include mobile {
      border-radius: $border-radius-small;
      max-width: 100%;
      height: 100%;
      margin: 0;
    }
    &::after {
      content: attr(data-attr);
      display: block;
      position: relative;
      top: 50%;
      font-weight: 700;
      color: white;
      transform: translateY(-50%);
      transition: $fast;
      text-align: center;
    }
    &--passing-answer {
      background: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%)!important;
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y!important;
      background-size: 16px 2px, 16px 3px, 2px 16px, 3px 16px!important;
      background-position: 0 0, 0 100%, 0 0, 100% 0!important;
      animation: borderMoving 2s infinite forwards;
      border-width: 0;
      &::after {
        transition: $fast;
        color: white!important;
      }
    }
    &--answered {
      border-color: $purple;
      background: white;
      cursor: pointer;
      &::after {
        color: $purple;
        font-weight: 900;
        font-size: 20pt;
      }
    }
    &__container {
      display: table-row;
      position: relative;
      height: 30%;
      min-height: 100px;
      text-align: center;
      @include mobile {
        height: 100%;
      }
    }
  }
  .button {
    display: block;
    position: absolute;
    margin: 50px auto;
    padding: 10px 20px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    border-radius: $border-radius-average;
    text-overflow: unset;
    color: $purple;
    transition: $fast;
    &:active {
      transform: translateX(-50%) scale(.95);
    }
  }
}

.EndGame {
  text-align: center;
  animation: zoomInDown 1.5s both;
  overflow: hidden;
  &__view {
    display: block;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    & > * {
      padding: 5px;
      color: white;
    }
    .button {
      color: $purple;
      background: white;
      padding: 6px 20px;
      font-size: 14pt;
    }
    h1 {
      font-size: 30pt;
    }
    h3 {
      font-size: 18pt;
    }
  }
  &__icon {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 180px;
    background: url(assets/end-like.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__reward {
    display: block;
    position: relative;
    margin-bottom: 60px;
    &::before {
      content: '+';
      display: block;
      position: relative;
      margin-bottom: 10px;
      font-size: 14pt;
      font-weight: 500;
      transition: $slow;
    }
    span {
      display: inline-block;
      width: 100px;
      padding: 5px 10px;
      margin: 0 10px;
      background: $linear-gradient;
      border-radius: $border-radius-small;
      color: white;
      font-weight: 700;
      opacity: .75;
    }
  }
}