
.Header { 
    position: relative;
    white-space: nowrap;
    padding: $container-padding;
    width: 100%;
    white-space: nowrap;
    transition: $average;
    z-index: z("top-layer");
    @include mobile {
        padding: $container-padding-mobile;
    }
    .tile {
      &__container {
        display: inline-block;
        position: relative;
        width: 75%;
        vertical-align: middle;
        padding: 10px;
        overflow: hidden;
        &--short {
          display: block;
          position: relative;
          float: right;
          width: 40px;
          height: 40px;
          margin: 10px 25px;
          cursor: pointer;
          border-radius: 50%;
          overflow: hidden;
          &__image {
            background: $light-violet;
            position: relative;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            &--loading {
              background: $light-violet;
            }
          }
        }
        &__image {
          display: inline-block;
          position: relative;
          width: 75px;
          height: 75px;
          border-radius: 50%;
          background: $light;
          vertical-align: middle;
          background-repeat: no-repeat;
          background-size: cover;
          &-loading {
            background: $light-violet;
          }
        }
        &__info {
          display: inline-block;
          position: relative;
          padding-left: 20px;
          vertical-align: top;

          span {
            display: inline-block;
            padding: 3px 10px;
            margin: {
                right: 5px;
                top: 2px;
            }
            border-radius: 2px;
            background: $light-violet;
            color: $violet;
            font-size: 12pt;

              &::before {
                content: 'ico';
                font-weight: 700;
                margin-right: 5px;
              }
          }
          h2 {
            font-weight: 500;
          }
          h4 {
            font-weight: 400;
            color: $grey;
          }
          &-loading {
            span {
              display: block;
              padding: 0;
              width: 50px;
              &::before {
                content: '';
              }
            }
            h2 {
              background: $light-violet;
              padding: 10px 40px;
              margin: 5px 0;
              border-radius: $border-radius-small;
            }
            h4 {
              display: inline-block;
              background: $light-violet;
              padding: 5px 10px;
              margin: 5px 0;
              border-radius: $border-radius-small;
            }
          }
        }
      }
    }
  .settings-container {
    display: inline-block;
    position: relative;
    width: 25%;
    padding: 10px;
    vertical-align: middle;
    overflow: hidden;
    &--short {
      display: block;
      position: absolute;
      max-width: 200px;
      right: 0;
      top: 0;
      padding: 10px;
      padding-top: 60px;
      margin: $container-padding;
      background: white;
      visibility: hidden;
      opacity: 0;
      border-radius: $border-radius-average;
      border: 1px solid $light;
      z-index: -1;
      transition: $fast;
      &:hover {
        visibility: visible;
        transition: $average;
        opacity: 1;
      }
      .button {
        display: block;
      }
      &__burger {
        display: block;
        float: right;
        width: 22px;
        height: 20px;
        margin: 22px 12px;
        overflow: hidden;
        transition: $fast;
        transition-timing-function: cubic-bezier(.31, .95, .46, 2);
        cursor: pointer;
        &:hover {
          span {
            margin-left: 30%;
          }
          span:nth-child(2) {
            margin-left: -30%;            
          }
          & + .settings-container--short {
            visibility: visible;
            transition: $average;
            opacity: 1;
          }
        }
        span {
          display: block;
          position: relative;
          width: 100%;
          margin: 2px 0;
          height: 3px;
          background: $violet;
          border-radius: 3px;
          transition: $fast;
          transition-timing-function: cubic-bezier(.31, .95, .46, 2);
        }
      }
    }
    .button {
      display: block;
      margin: {
        left: auto; 
        right: 0;
        bottom: 1px;
      }
    }
  }
}