.Preloader {
  display: block;
  position: relative;
  z-index: z("top-layer");
  width: 100%;
  height: 100px;
  overflow: visible;
  background: url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
}
.Preloader.visible {
  display: block;
  // visibility: visible;
  // opacity: 1;
  // transition: opacity 2s linear;
}
.Preloader.hidden {
  display: none;
  // visibility: hidden;
  // opacity: 0;
  // transition: visibility 0s 2s, opacity 2s linear;
}